
body{
    margin: 0;
    padding: 0;
    /*display: flex;*/
    scroll-behavior: smooth;
    overflow: hidden;
}

/*---------------------------------*/
/* 코드 하이라이트 라인 설정 */

.hljs-ln{border-collapse:collapse}
.hljs-ln td{padding:0}
.hljs-ln-n:before{
    content:attr(data-line-number);
    color: rgba(255,255,255,0.2);
}
.hljs-ln-code{
    width: 100%;
}

.markdown-body pre code table{
    margin-bottom: 5px;
}
.markdown-body pre code table tr{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.05);
    border-bottom-width: 0;
}
.markdown-body pre code table tr:nth-child(2n){
    background-color: transparent;
}
.markdown-body pre code table tr:hover{
    background-color: rgba(0,0,0,0.1);
}

.markdown-body pre code table th,
.markdown-body pre code table td{
    border: none;
    padding: 1px 10px
}

/*
.no-code-line .markdown-body pre code table tr{ border: none }
.no-code-line .markdown-body pre code table th,
.no-code-line .markdown-body pre code table td{ padding: 0 10px }
*/

/*---------------------------------*/

md-block:not([rendered]) { display: none }
.markdown-body{
    /*background-color: #2e303e;*/
    /*font-size: 14px;*/
}
.markdown-body blockquote {
    border-left: 0.2em solid #6ecd56;
    /*border-right: 0.6em solid #6ecd56;*/
    background-color: #f6f8fa;
    font-size: small;
    padding: 15px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);*/
}
.markdown-body pre code{
    background-color: #2e343b;
}

/*---------------------------------*/

.dark{
    background-color: #1c2128;
    color: #c9d1d9
}
.dark .markdown-body{
    background-color: transparent;
    color: #c9d1d9
}
.dark .markdown-body blockquote {
    border-left: 0.2em solid #6ecd56;
    border-right: none;
    background-color: #2e343b;
    color: #c9d1d9;
    font-size: small;
    padding: 15px;
    border-radius: 0;
    /*box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);*/
}
.dark .markdown-body pre{
    background-color: transparent;
}

.dark .markdown-body h1,
.dark .markdown-body h2,
.dark .markdown-body h3,
.dark .markdown-body h4,
.dark .markdown-body h5,
.dark .markdown-body h6, hr{
    /*border-bottom: 1px solid hsla(210, 18%, 87%, 0.2);*/
    border-color: hsla(210, 18%, 87%, 0.2);
}

.dark .markdown-body hr{
    border-color: hsla(210, 18%, 87%, 0.2);
    background-color: hsla(210, 18%, 87%, 0.2);
}
.dark .markdown-body a{
    color: #33a9dc;
    text-decoration: none;
}
.dark .markdown-body a:hover{
    /*border: 1px solid #ffffff33;*/
    background-color: black;
}

ol > li{
    border-bottom: 1px solid hsla(210, 18%, 87%, 0.2);
    border-color: hsla(210, 18%, 87%, 0.2);
    padding: 10px 0;
}

/*---------------------------------*/

.btns{
    z-index: 99;
    /*position: sticky;*/
    /*수직 정렬*/
    margin: 0;
    padding: 0;
    display: flex;
    display: none;
}
.btns li{
    display: inline-block;
    margin-top: 5px;
    margin: 5px;
}

.btns.nav{
    transition: all 0.5s ease;
    padding: 0 10px;
}
.btns.nav:hover{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(1.5px);
}

.btns.nav .title{
    display: flex;
    align-items: center;
    flex: 1;
}
.btns.vertical{
    /*clear: both;*/
    /*float: right;*/
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.prevButton, .nextButton{
    /*font-size: medium !important;*/
}

/*https://inpa.tistory.com/entry/CSS-%F0%9F%92%8D-%EB%B2%84%ED%8A%BC-%EB%94%94%EC%9E%90%EC%9D%B8-%EB%AA%A8%EC%9D%8C*/
.btn-hover {
    cursor: pointer;
    padding: 5px 20px;
    /*width: 200px;*/
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    /*margin: 20px;*/
    /*height: 55px;*/
    text-align:center;
    background-size: 300% 100%;

    box-sizing: border-box;
    /*border: none;*/
    border-radius: 50px;
    border: 1px solid;
    /*border-color: #f0f8ff54;*/
    border-color: rgba(0,0,0,0.2);
    /*color: #fff;*/

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    /*border-color: rgba(0,0,0,0.7);*/
    background-color: rgba(0,0,0,1);
    color: #fff;
    /*border-width: 5px;*/
    /*background-position: -100% 0;*/

    /*background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);*/
    /*background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);*/
    /*box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);*/
    /*background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);*/
    /*box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);*/
}

.btn-hover:focus {
    outline: none;
}

.dark .btn-hover {
    border-color: rgba(255,255,255,0.2);
    color: #fff;
}

.dark .btn-hover:hover {
    /*border-color: rgba(255,255,255,1);*/
    background-color: rgba(255,255,255,1);
    color: #000;
}

/*---------------------------------*/

.markdown-body-container{
    /*position: fixed;*/
    /*height: 100%;*/
    /*overflow: auto;*/

    padding: 20px;
    padding-top: 0;

    overflow: auto;
    /*height: calc(100vh - 60px);*/
    /*padding-top: 20px;*/
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;

    scrollbar-3dLight-Color: #343435;
    scrollbar-arrow-color: #343435;
    scrollbar-base-color: #343435;
    scrollbar-Face-Color: #343435;
    scrollbar-Track-Color: #343435;
    scrollbar-DarkShadow-Color: #343435;
    scrollbar-Highlight-Color: #343435;
    scrollbar-Shadow-Color: #343435;
}

::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block; height: 0px;
    background: #343435;
}
::-webkit-scrollbar-track {
    background: #343435;
    /*-webkit-border-radius: 10px; border-radius:10px;*/
    /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);*/
}
::-webkit-scrollbar-thumb {
    height: 50px; width: 50px;
    background: rgba(255, 255, 255, 0.5);
    /*border-radius: 8px;*/
    border-radius: 0;
    /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);*/
}
::-webkit-scrollbar-corner {
    background: black;
}